In [1]:
import pandas as pd 
import numpy as np

df = pd.read_excel('phonenull2.xlsx')
del df['Unnamed: 0']
df.head()

,company,name,state,link,phone number
0,Morgan & Westfield,Arthur Williams,California,https://www.bizquest.com/business-broker/morga...,8886937834
1,DH Brokerage INC,Jerry Hasanovic,"Ashland, Virginia",https://www.bizquest.com/business-broker/dh-br...,8047982071
2,Transworld Business Advisors of Eastern NC,Thomas Kelsey,North Carolina,https://www.bizquest.com/business-broker/trans...,9103005130
3,Best Business Brokers,Brian Judson,"Savannah, Georgia",https://www.bizquest.com/business-broker/best-...,9123490940
4,Transworld Business Advisors of Orange,Nassim Bayat,California,https://www.bizquest.com/business-broker/trans...,7149231222

In [2]:
df.shape

(7281, 5)

In [3]:
df.isnull().sum()

company         9
name            0
state           0
link            0
phone number    0
dtype: int64

In [4]:
df = df.sort_values(by='company', na_position='first')
df.head()

,company,name,state,link,phone number
3123,NaN,Prakas & Company,"Boca Raton, Florida",https://www.bizquest.com/business-broker//prak...,5619290111
3271,NaN,Bud Rago,"Gilbert, Arizona",https://www.bizquest.com/business-broker//bud-...,6023991466
3886,NaN,Peter Rook,Missouri,https://www.bizquest.com/business-broker//pete...,6366752103
3896,NaN,Business ACQ,"Brooklyn, New York",https://www.bizquest.com/business-broker/bizqu...,6465003473
6042,NaN,Miklos Campuzano,"San Diego, California",https://www.bizquest.com/business-broker/bizqu...,8589254553

In [5]:
df.to_excel('company.xlsx')