In [1]:
import pandas as pd 
import numpy as np

df = pd.read_excel('bizquest.xlsx')
del df['Unnamed: 0']
df.head()

,company,name,state,link,phone
0,Sunbelt Business Brokers of Baton Rouge,Daniel Exline,Florida,https://www.bizquest.com/business-broker/sunbe...,(850) 687-7244
1,Transworld Business Brokers,Bianca Evans,Florida,https://www.bizquest.com/business-broker/trans...,(904) 425-9660
2,Green & Co. Business Brokers,Julia Ladz Erlikh,"Sarasota, Florida",https://www.bizquest.com/business-broker/green...,941.735.3035
3,Sunbelt Business Brokers of Baton Rouge,Tim Eovino,"Miramar Beach, Florida",https://www.bizquest.com/business-broker/sunbe...,(850) 291-5827
4,Century 21 Carioti,Ahmed Elkomy,"Orlando, Florida",https://www.bizquest.com/business-broker/centu...,(407) 994-6154

In [2]:
df = df.sort_values(by = 'phone', na_position='first')
df.head()

,company,name,state,link,phone
194,Sunbelt of Pasadena,Iris Chen,California,https://www.bizquest.com/business-broker/sunbe...,NaN
374,"Innovative Business Advisors, LLC",Brandyn Simmons,Wisconsin,https://www.bizquest.com/business-broker/innov...,NaN
885,illi Commercial Real Estate,Michael Sharon,California,https://www.bizquest.com/business-broker/illi-...,NaN
925,Business Transition Strategies,Deborah Agrafojo,Connecticut,https://www.bizquest.com/business-broker/busin...,NaN
1390,M&A Business Advisors,Mary E. Doyle,California,https://www.bizquest.com/business-broker/manda...,NaN

In [3]:
df.shape

(7308, 5)

In [4]:
df.to_excel('phonenull.xlsx')